<form action="/memories/add" method="POST" enctype="multipart/form-data">
<label for="name">City: </label>
<input type="text" name="name" id="name">

<label for="photo">Photo: </label>
<input type="file" name="photo" id="photo">

<label for="description">Description: </label>
<input type="text" name="description" id="description">
{{!-- <textarea name="description" id="description" cols="30" rows="10"></textarea> --}}

<button type="submit">add city</button>

</form>