<h1>Find your favorite city</h1>
{{!-- <form action="search" method="post"> --}}
<form id="search-form" onsubmit="return false">
  <label for="query">Search</label>
  <input type="text" name="query" id="query" placeholder="Berlin" required>
  <input type="button" onclick="submitForm()" value="Submit">
</form>
<div class="row">
  <div class="col-md-5 col-sm-12">
    <h3>City List</h3> 
    <div id="search-result">
      <ul id="city-list"></ul>
    </div>
  </div>
  <div id="mapbox" class="col-md-7 col-sm-12">
    <div id='map' style='width: 850px; height: 600px;'></div>
  </div>
</div>

<script src="/js/citySearch.js"></script>